@import "./color.scss";
@import "./typography.scss";

.blog-content-list {
    .intro {
        font-family: $sans-font;
        max-width: 650px;
        margin: auto;
        margin-bottom: 70px;
        text-align: center;
        font-size: 1.07rem;
        line-height: 1.7rem;
    }
    h1 {
        margin-top: 50px;
        text-align: center;
    }

    .featured-wrapper {
        margin-bottom: 100px;
        .featuredArticles {
            .template-card {
                .data {
                    transform: unset;
                    .content {
                        min-height: unset;
                        .excerptText {
                            opacity: 0;
                            transition: all 0.2s;
                        }
                    }
                }
                input[type="checkbox"] {
                    display: none;
                    + .menu-content {
                        opacity: 0;
                        transition: all 0.3s;
                    }
                }

                &:hover,
                &:focus {
                    input[type="checkbox"]:checked + .menu-content {
                        opacity: 1;
                        transition: all 0.3s;
                    }
                    .data {
                        .content {
                            .excerptText {
                                opacity: 1;
                                transition: all 0.2s;
                                transition-delay: 0.1s;
                            }
                        }
                    }
                }
            }
            .featuredArticle {
                background-color: $blood-red;
                padding: 15px;
            }
        }
    }

    ol.blogs-list {
        padding-left: 0;
        list-style: none;
    }
    //ALL POSTS blog card styles//
    li.blogLi {
        // background: $brand-brown;
        // background: linear-gradient(141deg, $brand-brown 0%, $blood-red) 100%;
        padding: 4px;
        margin-bottom: 15px;
        border-radius: 4px;

        .article-excerpt {
            max-width: 95%;
            margin: 20px 0;

            p:first-child {
                display: inline;
            }
            .continue-reading {
                color: $jungle-green;
                &:hover, &:focus {
                    color: $brand-brown
                }
            }
        }

        .blogRow {
            margin-bottom: 50px;
            .content-col {
                article {
                    background-color: $platinum;
                    padding: 20px;
                }
            }
            .image-wrapper {
                max-height: 400px;
            }
        }
        .blogImg {
            height: 100%;
            width: 100%;
        }

 
        .category-dropdown {
            padding: 10px;
            padding-left: 30px;
            border: none;
            box-shadow: none;
            min-width: 240px;
            border-radius: 0;
            &.dropdown-menu {
                list-style: unset;
                list-style-type: circle;
            }
            li {
                padding-bottom: 5px;
                a {
                }
            }
        }

        .category-button {
            background: $white;
            border: 2px solid $brand-brown;
            color: $brand-brown;
            padding: 5px 10px;
            margin-right: 10px;

            a {
                font-family: $sans-font;
                font-size: 1rem;
                font-weight: 600;
                color: $brand-brown;
            }

            &:hover, &:focus {
                background-color: $brand-brown;
                color: $white;
                
            }
        }

        .cardFlexBox {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            margin: 35px 0 20px 0;
            align-self: flex-end;
        }

        .shareButtons {
            position: absolute;
            top: 10px;
            right: 0;
            width: unset;
        }
    }
}

// TEMPLATE code
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
// Variables

// clear-fix mixin
@mixin cf {
    &::before,
    &::after {
        content: "";
        display: table;
    }
    &::after {
        clear: both;
    }
}

// Base styles
.template-card {
    width: 100%;
    // background: $brand-brown;
    // background: linear-gradient(141deg, $brand-brown 0%, $blood-red) 100%;
    padding: 4px;
    margin-bottom: 30px;
    border-radius: 3px;

    .menu-content {
        @include cf;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        background-color: $blood-red;
    }
    .wrapper {
        // background-color: $white;
        position: relative;
        overflow: hidden;
        // -webkit-box-shadow: 0px 0px 8px 1px $raisin-black;
        // -moz-box-shadow: 0px 0px 8px 1px $raisin-black;
        // box-shadow: 0px 0px 8px 1px $raisin-black;
        .gatsby-image-wrapper {
            max-width: 65%;
            margin-left: 20px;
            margin-bottom: 100px;
            max-height: 500px;

        }
        &:hover {
            .data {
                transform: translateY(10px);
                z-index: 3;
            }
        }
    }
    .data {
        position: absolute;
        bottom: 0;
        width: 100%;
        transform: translateY(calc(200px + 1em));
        transition: transform 0.3s;
        .content {
            padding: 1em;
            position: relative;
            z-index: 1;
            min-height: 300px;
        }
    }
    .author {
        font-size: 12px;
        font-family: $serif-font;
        color: lighten($raisin-black, 20%);
    }

    .text {
        height: 70px;
        margin: 0;
    }
}

// First example styles
.example-1 {
    .date {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $blood-red;
        color: $white;
        padding: 0.2rem 0.5rem;
        font-size: 0.8rem;
        z-index: 2;
        margin-left: 20px; 
        span {
            display: block;
            text-align: center;
        }
        .day {
            font-weight: 700;
        }
        .month {
            text-transform: uppercase;
        }
        .month,
        .year {
            font-size: 12px;
        }
    }
    .content {
        background-color: $white;
        // box-shadow: 0 5px 30px 10px rgba($raisin-black, 0.3);
    }
    .title {
        a {
            color: $raisin-black;

            &:hover,
            &:focus {
                text-decoration: none;
                color: $brand-brown;
            }
        }
    }
    .menu-button {
        position: absolute;
        z-index: 999;
        top: 16px;
        right: 16px;
        width: 25px;
        text-align: center;
        cursor: pointer;

        .shareButton {
            color: lighten($raisin-black, 40%);
            width: 20px;
            height: 20px;
            position: relative;
            display: inline-block;
            margin-top: -10px;
            &:hover,
            &:focus {
                color: $brand-brown;
                transition: all 0.2s;
            }
        }
    }
    .menu-content {
        text-align: left;
        width: 100%;
        z-index: -1;
        transition: transform 0.3s;
        height: 50px;

        li {
            width: 100%;
            float: left;
            background-color: $jungle-green;
            height: 50px;
            position: relative;
        }
        a {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            font-family: $sans-font;
            font-size: 1rem;
            padding-left: 15px;
        }
        span {
            top: -10px;
        }
    }
}
