@import "./color.scss";
@import "./typography.scss";

.blog-single {
    article {
        header {
            .title-image-wrapper {
                position: relative;

                .shareButtons {
                    padding: 0 0 0 0;
                    padding-left: 0;
                }

                .author {
                    display: inline-block;
                    .date {
                        display: block;
                    }
                }
                
                .breadcrumb-list {
                    flex-wrap: wrap;
                } 

                .breadcrumb-dropdown {
                    background-color: $platinum;
                    padding:15px;
                    margin-left: -15px;
                    border: none;
                    box-shadow: none;
                    height: 0;
                    transition: all 0.2s;
                    border-radius: 0;

                    &.show {
                        height: unset;
                        transition: all 0.2s;
                        ul {
                            li {
                                opacity:1;
                                transition: all 0.2s;
                            }
                        }
                    }
                    ul {
                        border:none;
                        padding-left:0;
                        li {
                            list-style: none;
                            margin-left: 0;
                            opacity: 0;
                        }
                    }
                }
                 
                .share-content {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: $platinum;
                    padding: 15px 30px 15px 0;
                }
            }
            padding: 50px 0;
        }
        .post-content {
            background-color: $white;
            padding: 50px 15px;

            .tableOfContents {
                font-family: $sans-font;
                font-size: 1rem;
                a {
                    font-weight: 400;
                }
            }

            .articleBody {
            }
        }
    }
}
