@import "./color.scss";
@import "./typography.scss";

.top-navbar {
    .logoImage {
        margin-top: 10px;
        width: 100%;
        max-width: 70px;
    }
    .navWrapper {
        margin-top: 10px;
        .navButton {
            background-color: transparent;
            border: none;
            outline: none;
            position: relative;
            margin-right: 30px;

            &::after {
                content: "";
                display: block;
                width: 0;
                height: 5px;
                background-color: $brand-brown;
                position: absolute;
                bottom: -5px;
                left: 0;
            }

            &:hover,
            &:focus,
            &.active {
                &::after {
                    width: 100%;
                    transition: all 0.2s;
                }
            }
        }
    }
}
